<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
</head>
<body>
<h1>Person List</h1>
<br/><br/>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Address</th>
        </tr>
        <tr th:each ="person : ${persons}">
            <td th:utext="${person.getId()}">...</td>
            <td th:utext="${person.firstName}">...</td>
            <td th:utext="${person.lastName}">...</td>
            <td th:utext="${person.age}">...</td>
            <td th:utext="${person.address}">...</td>
            <td><a th:href="@{/deletePerson/{id}(id=${person.getId()})}">Delete</a></td>
            <td><a th:href="@{/updatePerson/{id}(id=${person.getId()})}">Edit</a></td>
        </tr>
    </table>
</div>
<a href="addPerson">Add Person</a>
</body>
</html>